.info_bg{
    background-color: #242424;
    padding: 100px 20px;
}
.info_bg h4{
    font-family: 'Gilroy',Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.75px;
    line-height: 22px;
    margin-bottom: 24px;
    color: rgb(255, 255, 255);
    opacity: 0.9;
    font-weight: bold;
}
.info_bg p{
    font-family: 'Gilroy',Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.75px;
    line-height: 33px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin-bottom: 0px!important;
}
.info_bg ul{
    list-style-type: '- ';
}
.info_bg li{
    font-family: 'Gilroy',Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.75px;
    line-height: 33px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin-bottom: 0px!important;
}
@media (max-width:1265px) {
    .info_bg p{
        font-size: 12px;
    }
    .info_bg li{
        font-size: 12px;
    }
    .info_bg h4{
        font-size: 12px;
    }
}