.mobile_bg{
    height: 100vh;
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/video-bg.png);
    background-color: black;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wrapper{
 
    position: relative;
    height: 100%;
    width: 100%;
    left: 50%;
    bottom: 0%;
}
.mobile_img{
    height: 797px;
    width: 396px;
    overflow: hidden;
    position: absolute;
}
.mobile_img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    left: 50%;
    bottom: 0%;
}
.mobile_img_1{
    z-index: 98;
    transform: translate(-0%,100%);
}
.mobile_img_2{
    transform: translate(-0%,100%);
    z-index: 99;

}
.mobile_img_3{
    transform: translate(-50%,100%);
    z-index: 100;
    
}
.mobile_img_4{
    transform: translate(0%,100%);
    z-index: 99;
    
}
.mobile_img_5{
    z-index: 98;
    transform: translate(0%,100%);
    
}
@media (max-width:1276px) {
    .wrapper{
        bottom: -4%;
    }
    .mobile_img{
        height: 600px;
        width: 300px;
    }
}
@media (max-width:766px) {
    .wrapper{
        bottom: -2%;
    }
    .mobile_img{
        height: 543px;
        width: 270px;
    }
}
@media (max-width:481px) {
    .wrapper{
        bottom: -13%;
    }
    .mobile_img{
        height: 342px;
        width: 170px;
    }
}
