.rating_bg{
    background-color: black;
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.rating{
    font-size: 160px;
    line-height: 120px;
    padding-right: 16px;
    opacity: 0.9;
    font-family: 'Gilroy',Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.name{
    font-size: 60px;
    line-height: 55px;
    padding-left: 16px;
    color: rgb(236, 233, 234);
    opacity: 0.9;
    font-family: 'Gilroy',Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.flex{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.image{
    margin-bottom: 50px;
    text-align: center;
}
.image img{
    width: 179px;
    height: 28px;
}
.button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Gilroy',Arial, Helvetica, sans-serif;
    padding: 15px 0px;
    width: 310px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 48px;
    justify-content: center;
    cursor: pointer;
    margin: 0px auto;
    font-weight: bolder;
}
.button img{
    width: 44px;
    height: auto;
}
.button p{
    margin-bottom: 0px;
    padding-left: 8px;
    font-size: 20px;
    line-height: 18px;
}
.column{
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

@media(max-width:1296px){
    .rating{
        font-size: 100px;
        line-height: 120px;
    }
    .name{
        font-size: 45px;
        line-height: 45px;
    }
    .image img{
        height: 18px;
        width: 120px;
    }
    .button{
        width: 285px;
        
    }
}
@media(max-width:784px){
    .flex{
        justify-content: flex-start;
    }
    .image{
        text-align: left;
    }
    .button{
        margin: 0px;
    }
    .container{
        padding: 0px 30px;
    }
}
@media(max-width:450px){
    .rating{
        font-size: 80px;
        line-height: 80px;
    }
    .name{
        font-size: 42px;
        line-height: 45px;
    }
    .image img{
        height: 23px;
        width: 150px;
    }
    .button{
        width: 200px;
        
    }
    .button img{
        width: 25px;
    }
    .button p{
        font-size: 12px;
    }
}