.rating_bg{
    background-color: black;
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.rating{
    font-size: 160px;
    line-height: 120px;
    padding-right: 16px;
    opacity: 0.9;
    font-family: 'Gilroy';
    font-weight: bold;
}
.name{
    font-size: 60px;
    line-height: 55px;
    padding-left: 16px;
    color: rgb(236, 233, 234);
    opacity: 0.9;
    font-family: 'Gilroy';
    font-weight: bold;
}
.flex{
    display: flex;
    margin-bottom: 50px;
}
.image{
    margin-bottom: 50px;
}
.image img{
    width: 179px;
        height: 28px;
}
.button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    padding: 15px 0px;
    width: 310px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 48px;
    justify-content: center;
    cursor: pointer;
    font-weight: bolder;
}
.button img{
    width: 44px;
}
.button p{
    margin-bottom: 0px;
    padding-left: 8px;
    font-size: 20px;
    line-height: 18px;
}
.column{
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}