.testimonial_bg{
    background-color: black;
    color: white;
    padding-bottom: 80px;
    
}
.item{
    padding: 15px;

}
.item h4{
    font-size: 18px;
    font-family: 'Gilroy',Arial, Helvetica, sans-serif;
    line-height: 32px;
    text-align: center;
}
.item p{
    text-align: center;
    font-family: 'Gilroy',Arial, Helvetica, sans-serif;
    line-height: 22px;
    margin-top: 45px;
    margin-bottom: 0px;
}

@media(max-width:485px){
    .item h4{
        font-size: 14px;
    }
}